// Place all the styles related to the todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ng-dirty.ng-invalid {
  // style error inputs
}

.list-group-item {

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  .delete-btn, .complete-btn {
    visibility: hidden;
  }

  &:hover {
    .delete-btn, .complete-btn {
      visibility: visible;
    }
  }

}

.control {
  margin-bottom: 10px;
  vertical-align: bottom;
}